VITE_CERTIFICATE_PASSPHRASE='certificate-passphrase'
VITE_CERTIFICATE_URL='certificate-url'
VITE_SIGN_CERTIFICATE_URL='sign-certificate-url'
VITE_ARUBA_OTP_PWD='aruba-otp-pwd'
VITE_ARUBA_USER='aruba-user'
VITE_ARUBA_USER_PWD='aruba-user-pwd'
VITE_ARUBA_DELEGATED_USER='aruba-delegated-user'
VITE_ARUBA_DELEGATED_PASSWORD='aruba-delegated-password'
VITE_ARUBA_DELEGATED_DOMAIN='aruba-delegated-domain'
VITE_ARUBA_TYPE_OTP_AUTH='aruba-type-otp-auth'
VITE_MRN_EXPORT_TEST='mrn'
VITE_MRN_IMPORT_TEST='mrn'
VITE_DICHIARANTE_TEST='eori/codice-fiscale-dichiarante'
VITE_ADM_USERNAME='username-adm-std'
VITE_ADM_PASSWORD='password-adm-std'
VITE_XML_TEST='xml-string-not-path'
VITE_MRN_IVISTO_TEST='mrn'
EXPORT_DICHIARANTE_TEST='eori/codice-fiscale-dichiarante'